
<div class="container">
  <label for="gsearch">Search Google:</label>
  <div class="row">
      <div class="col-12">
        <h1 class="m-4">Find the latest listings</h1>
        <div class="d-flex align-content-start flex-wrap">
        <% @spaces.each do |space| %>
          <div class="card-trip m-4">
            <img src="https://www.cnet.com/a/img/LLg84fdggU-EGFI2bUQ7Sd0IpxE=/940x528/2017/10/20/e8f232cc-25eb-4fa8-a11f-e4e1941fed8d/vr-zone-shinjuku-007.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= space.name %></h2>
                <p>Location: <%= space.location %></p>
              </div>
              <h2 class="card-trip-pricing">AED <%= space.hourly_rate %>/hr</h2>
              <%= link_to "Click for more info", space_path(space) %>
            </div>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>
