
<div class="container">
  <div class="row">
      <div class="col-12">
        <h1 class="m-4">Find the latest listings</h1>
        <div class="d-flex align-content-start flex-wrap">
        <% @spaces.each do |space| %>
          <%= render 'shared/space_card1', space: space %>
        <% end %>
        </div>
    </div>
  </div>
</div>
