  <h1 class="m-4 text-center">Your listings</h1>
  <div class="d-flex justify-content-center">
  <%= link_to 'Add a Space', new_space_path, :class => "btn btn-primary m-4 text-center" %>
  </div>
<div class="container">
  <div class="row">
        <% @spaces.each do |space| %>
         <%= render 'shared/space_card2', space: space %>
        <% end %>
    </div>
  </div>
</div>
