<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://data.whicdn.com/images/323289519/original.gif);">
  <div class="container d-flex justify-content-center">
    <h1 class="ml15">
  <span class="word">The</span>
  <span class="word">Metaverse</span>
  </h1>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-6">
        <h1 class="m-4">Find the latest listings</h1>
        <div class="d-flex align-content-start flex-wrap">
        <% @spaces.last(3).each do |space| %>
          <%= render 'shared/space_card1', space: space %>
        <% end %>
        </div>
    </div>
  </div>
  <%= link_to "See more listings", spaces_path %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
