.card-product {
  overflow: hidden;
  height: 120px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}


.card-trip {
  height: 420px;
  width: 90%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  width: 280px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-pricing {
  position: absolute;
  color: black;
  background-color: rgba(255,255,255,0.6);
  top: 10px;
  left: 10px;
  font-size: 18px;
}
.rating {
  position: absolute;
  top: 5px;
  right: -90px;
  font-size: 14px;
  opacity: 1!important;
  color: white;
}

.grey {
  color: lightgrey!important;
}

.card-trip .btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
